#header {
    background-color:white;
    color:white;
    text-align:center;
    padding:5px;
}

#section1 {
    
    height:550px;
    width:600px;
    float:left;
    background-color:greenyellow;
}

#section2 {
    
    height:550px;
    width:600px;
    float:left; 
    background-color:yellow;
}

#section31 {
    height:350px;
    width:600px;
    background-color:red;
    float: left
}

#section32 {
    height:350px;
    width:600px;
    background-color:bisque;
}

#section311 {
    height:200px;
    width:300px;
    background-color:green;
    float: 
}

#section312 {
    height:200px;
    width:300px;
    background-color:white;
    float:right
}

#section321 {
    height:200px;
    width:300px;
    background-color:rebeccapurple;
    float: left
}

#section322 {
    height:200px;
    width:300px;
    background-color:brown;
    float:right
}


#section4 {
    padding:10px;
    background-color:white;
    text-align:left;
    width:1200px;
}

body {
    font-family: sans-serif;
    color: #000000;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.dot {
    opacity: .6;
}

text {
    stroke: black;
    stroke-width: 0.5px;
    fill: #000000;
    font-size: .7em;
    font-family: sans-serif;
}

.label {
    fill: "black";
}

.tooltip {
    position: absolute;
    width: 200px;
    height: 100px;
    padding: 10px;
    background-color: white;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}



.state-boundary {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
}