body {
    fontfamily: sans-serif;
    color: #000000;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text{
    font-family: sans-serif;
    font-size: 11px;
}

.dot {
    opacity: .6;
}

text {
    stroke: black;
    stroke-width: 0.5px;
    fill: #000000;
    font-size: .7em;
    font-family:sans-serif;
}

.label {
    fill: "black";
}

.tooltip {
    position: absolute;
    width: 200px;
    height: 100px;
    padding: 10px;
    background-color: white;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
				
}