#header {
    background-color:white;
    color:white;
    text-align:center;
}
#header2 {
    background-color:white;
    color:white;
    text-align:center;
    width:550px;
    float:left;
}
#header3 {
    background-color:white;
    color:white;
    text-align:center;
    width:550px;
    float:left;
}
#section1 {
    
    height:600px;
    width:630px;
    float:left;
    background-color:white;
}

#section2 {
    height:600px;
    width:530px;
    float:left; 
    background-color:white;
    text-align:center;
}


#section31 {
    height:350px;
    width:570px;
    background-color:white;
    float: left
}

#section32 {
    height:350px;
    width:530px;
    background-color:white;
    float: left
}

#section33 {
    height:350px;
    width:60px;
    background-color:gainsboro;
    float: left
}

#section311 {
    height:200px;
    width:275px;
    background-color:white;
    float: left
}

#section312 {
    height:200px;
    width:275px;
    background-color:white;
    float:left
}

#section313 {
    height:200px;
    width:60px;
    background-color:white;
    float:right
}
#section321 {
    height:200px;
    width:265px;
    background-color:white;
    float: left
}

#section322 {
    height:200px;
    width:265px;
    background-color:white;
    float:right
}

#section7 {
    padding:10px;
    background-color:white;
    text-align:center;
    width:1200px;
    float: left
}

#section6 {
    padding:10px;
    background-color:white;
    text-align:left;
    width:800px;
    float: left
}

body {
    font-family: sans-serif;
    color: #000000;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.dot {
    opacity: .6;
}

text {
    stroke: black;
    stroke-width: 0.5px;
    fill: #000000;
    font-size: .7em;
    font-family: sans-serif;
}

.label {
    fill: "black";
}

.tooltip {
    position: absolute;
    width: 200px;
    height: 100px;
    padding: 10px;
    background-color: white;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}



.state-boundary {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
}
